<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <app-frequency-selector></app-frequency-selector>
  </div>
</div>

<div class="row">
  <div class="col-md-12" #accountContainer>
    <h3>Accounts</h3>
    <app-all-account-chart
      [accountList]="accountList"
      [container]="accountContainer"
    ></app-all-account-chart>
  </div>

  <div class="col-md-12" #budgetContainer>
    <app-breakdown-chart
      [container]="budgetContainer"
      [breakdown]="totalBreakdown"
    ></app-breakdown-chart>
  </div>

  <div class="col-md-12 mt-5" #breakdownContainer>
    <h3>Breakdown</h3>

    <app-account-breakdown-chart
      [container]="breakdownContainer"
      [breakdownList]="breakdownList"
      [height]="300"
      label="Balance"
      property="balance"
    ></app-account-breakdown-chart>

    <app-stacked-breakdown-chart
      [container]="budgetContainer"
      [breakdownList]="breakdownList"
      [propertiesLabel]="{totalDebit: 'Expense', totalCredit: 'Income', allocatedAmount: 'Allocated'}"
      [height]="120"
    ></app-stacked-breakdown-chart>
  </div>

  <div class="col-md-12 mt-5" #accountTrendsContainer>
    <h3>Trend</h3>
    <app-breakdown-trends-chart
      [container]="accountTrendsContainer"
      [breakdownList]="accountTrends"
    ></app-breakdown-trends-chart>
  </div>
</div>
